
trash/gs-maven-main/complete/.mvn/wrapper/maven-wrapper.jar
trash/gs-maven-main/complete/.mvn/wrapper/maven-wrapper.properties
trash/gs-maven-main/complete/mvnw.cmd
trash/gs-maven-main/complete/src/main/java/hello/HelloWorld.java
trash/gs-maven-main/CONTRIBUTING.adoc
trash/gs-maven-main/complete/src/test/java/hello/GreeterTest.java
trash/gs-maven-main/initial/.mvn/wrapper/maven-wrapper.jar
trash/gs-maven-main/initial/mvnw
trash/gs-maven-main/initial/mvnw.cmd
trash/gs-maven-main/complete/mvnw
trash/gs-maven-main/complete/pom.xml
trash/gs-maven-main/complete/src/main/java/hello/Greeter.java
trash/gs-maven-main/initial/.mvn/wrapper/maven-wrapper.properties
trash/gs-maven-main/initial/src/main/java/hello/Greeter.java
trash/gs-maven-main/initial/src/main/java/hello/HelloWorld.java
trash/gs-maven-main/LICENSE.txt
trash/gs-maven-main/LICENSE.txt
trash/gs-maven-main/README.adoc
trash/gs-maven-main/test/expected.txt
trash/gs-maven-main/test/run.sh
trash/gs-maven-main/LICENSE.writing.txt
trash/gs-maven-main/Jenkinsfile
trash/gs-maven-main/initial/pom.xml
trash/gs-maven-main/.gitignor
*.class
