
trash/gs-maven-main/complete/.mvn/wrapper/maven-wrapper.jar
trash/gs-maven-main/complete/.mvn/wrapper/maven-wrapper.properties
trash/gs-maven-main/complete/mvnw.cmd
trash/gs-maven-main/complete/src/main/java/hello/HelloWorld.java
trash/gs-maven-main/CONTRIBUTING.adoc
trash/gs-maven-main/complete/src/test/java/hello/GreeterTest.java
trash/gs-maven-main/initial/.mvn/wrapper/maven-wrapper.jar
trash/gs-maven-main/initial/mvnw
trash/gs-maven-main/initial/mvnw.cmd
trash/gs-maven-main/complete/mvnw
trash/gs-maven-main/complete/pom.xml
trash/gs-maven-main/complete/src/main/java/hello/Greeter.java
trash/gs-maven-main/initial/.mvn/wrapper/maven-wrapper.properties
trash/gs-maven-main/initial/src/main/java/hello/Greeter.java
trash/gs-maven-main/initial/src/main/java/hello/HelloWorld.java
trash/gs-maven-main/LICENSE.txt
trash/gs-maven-main/LICENSE.txt
trash/gs-maven-main/README.adoc
trash/gs-maven-main/test/expected.txt
trash/gs-maven-main/test/run.sh
trash/gs-maven-main/LICENSE.writing.txt
trash/gs-maven-main/Jenkinsfile
trash/gs-maven-main/initial/pom.xml
trash/gs-maven-main/.gitignor
*.class
Server/out/production/Server/resources/jackson/jackson-datatype-jsr310-2.15.0-rc2.jar
Server/out/production/Server/resources/jackson/jackson-annotations-2.15.0-rc2.jar
Server/out/production/Server/resources/jackson/jackson-core-2.15.0-rc2.jar
Server/out/production/Server/files/out.json
Server/out/production/Server/files/demo.sql
Server/out/production/Server/files/db.cfg
Server/out/production/Server/resources/jackson/jackson-databind-2.15.0-rc2.jar
trash/sql-time.jar.zip
trash/apache-log4j-2.20.0-bin.zip                                  
Client/out/production/Client/client/Client.class
Client/out/production/Client/client/CommandHandler.class
Client/out/production/Client/client/ExecuteScript.class
Client/out/production/Client/client/Deserializer.class
Client/out/production/Client/client/Request.class
Client/out/production/Client/client/Serializer.class
Client/out/production/Client/client/Client.class 

Client/out/production/Client/resources/utility/Deserializer.class
Client/out/production/Client/resources/jackson/jackson-datatype-jsr310-2.15.0-rc2.jar
Client/out/production/Client/resources/jackson/jackson-databind-2.15.0-rc2.jar
Client/out/production/Client/resources/jackson/jackson-core-2.15.0-rc2.jar
Client/out/production/Client/resources/jackson/jackson-annotations-2.15.0-rc2.jar
Client/out/production/Client/files/ins_at_2.txt
Client/out/production/Client/files/ins_at_1.txt
Client/out/production/Client/files/inp.txt
